@charset "utf-8";


// Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";


// Set the derived variables
$primary: #725ac1;
$danger: #ef476f;
$dark: #1a1b18;
$info: #353a47;
$link: #1B9C85;
$text: white;


$navbar-background-color: $dark;
$navbar-box-shadow-color: $dark;
$navbar-item-hover-background-color: $primary;
$navbar-item-hover-color: $danger;

// Import the rest of Bulma
@import "../../node_modules/bulma/bulma";
